{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="text-primary">All available items on the store</h1>

    <div class="mb-5">
    {% for storedThing in storedThings %}
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">{{ storedThing.label }}</h5>
                <p class="card-text">{{ storedThing.description }}</p>
            </div>
            <div class="card-footer">
                {{ storedThing.baseAmount }} in base stock
            </div>
        </div>
    {% else %}
        <div>
            There is no items
        </div>
    {% endfor %}
    </div>

    <div>
    <h1 class="text-primary">Add a new item</h1>
        {{ form(form) }}
    </div>

{% endblock %}
